.gradle
local.properties
build
captures
.idea
app/app.iml
app/build
.idea/misc.xml

c24.rs.android.iml
rs.android.iml
app.iml
.idea/copyright/profiles_settings.xml
.idea/copyright/profiles_settings.xml
